// .button {
//   color: red;
// }

.TranslateLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--heading-text);
  letter-spacing: 0.1px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.DocumentLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--heading-text);
  letter-spacing: 0.1px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
